@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

@font-face {
  font-family: 'Noto sans';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@base layer {
  html {
    scroll-behavior: smooth;
    background-color: #F1F3F4;
  }

  h1,
  h2,
  h3 {
    font-family: 'Noto sans', sans-serif;
    color: #000;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */